project:
  type: website
  output-dir: docs

website:
  title: "linuswashere's_website_V2"
  navbar: 
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
      - lumen
      - solar
    css: styles.css
    toc: true



